<% total = 0 %>
<% _benefit_category.benefit_programs.each do |benefit_program| %>
  <% total += _user.funds.where(benefit_program_id:benefit_program.id).map(&:amount).map(&:to_f).sum rescue 0 %>
<% end %>

<%= Liquid::Template.parse(_organization.benefit_claims_form.to_s).render(
  'organization' => _organization,
  'program_balance' => number_to_currency(total_balance_for_program(_benefit_category, total)),
  'category' => _benefit_category,
  'programs' => _benefit_category.benefit_programs,
  'funds_by_year' => _user.funds_grouped_by_year
).html_safe %>

<% url_for_claim = (@url||claims_path) %>
<% @the_claim = (@the_claim ||= Claim.new(benefit_category_id: _benefit_category.id)) %>
<%= form_for @the_claim, url: url_for_claim, html: {multipart: true} do |f| %>

<% if flash[:error] %>
  <p style="background:pink;padding:5px;border-radius:5px;">
    Error:
    <%= flash[:error] %>
  </p>
<% end %>

  <input type="hidden" name="benefit_category[id]" value="<%= _benefit_category.id %>">

  <div class="">
    <div class="">
      Purchase Price
    </div>
    <div class="">
      <%= f.text_field :purchase_amount, placeholder: "Amount: E.g., $100.00" %>
    </div>
  </div>

  <div class="">
    <div class="">
      Reimbursement Amount
    </div>
    <div class="">
      <%= f.text_field :requesting_amount, placeholder: "Amount: E.g., $100.00" %>
    </div>
  </div>

  <div class="">
    <div class="">
      Purchase Date
    </div>
    <div class="">
      <%= f.text_field :expensed_date, placeholder: "E.g., 10/21/2017", class: "datepicker" %>
    </div>
  </div>

  <!-- <script type="text/javascript">
    $(document).ready(function(){
      $('#claim_expensed_date').on('change', function(){
        d = Date.parse($(this).val())
        if(d == NaN){
          // $('#claim_expensed_date').parent().addClass('invalid')
        }
      })
    })
  </script>
  <style media="screen">
    .invalid input {
      border:solid 1px red;
    }
  </style> -->

  <div class="">
    <div class="">
      Manufacturer <i>(if available)</i>
    </div>
    <div class="">
      <%= f.text_field :manufacturer %>
    </div>
  </div>

  <div class="">
    <div class="">
      Model # <i>(if available)</i>
    </div>
    <div class="">
      <%= f.text_field :model_number %>
    </div>
  </div>

  <div class="">
    <div class="">
      Notes
    </div>
    <div class="">
      <%= f.text_area :more_info %>
    </div>
  </div>

  <%= render 'claims/fields_for_attachments', f: f %>

  <div class="">
    <hr>
    <button>
      Submit
    </small>
  </div>
<% end %>
