<%= render 'subheader' %>
<%= render 'person_info' %>
<%= render 'claims_table', claims: _person.claims + _person.historical_claims %>

<%= render 'notes', notes: _person.notes if _person.notes.any? %>

<div class="">
  <%= form_for :fund, url: organization_funds_path(_organization) do |f| %>
    <% if _person %>
      <input type="hidden" name="user_id" value="<%= _person.id %>">
    <% end %>

    <div class="">
      <label><%= "Deposit money for #{_person.name}".titleize %></label>
      <select name="benefit_program[name]">
        <% _organization.benefit_programs.each do |benefit_program| %>
        <option value="<%=benefit_program.name%>">
          <%= benefit_program.name %>
        </option>
        <% end %>
      </select>
    </div>
    <div class="">
      <%= f.label :amount %>
      <%= f.text_field :amount, placeholder: "Amount: $500.00" %>
    </div>
    <div class="">
    <%= f.label :available_on %>
    <%= f.text_field :available_on, class: "datepicker", placeholder: "Expires on: 1/1/2017" %>
  </div>
    <div class="">
      <%= f.label :expires_on %>
      <%= f.text_field :expires_on, class: "datepicker", placeholder: "Expires on: 10/10/2017" %>
      <small>
        Leave blank for rollover or
        <a href="#" onclick="$('#fund_expires_on').val('<%= Time.zone.now.end_of_year.stamp('10/10/2015')%>');return false">
          expire at EOY
        </a>
      </small>
    </div>

    <div class="">
      <%= f.label :comment %>
      <%= f.text_field :comment, placeholder: "Enter any misc. notes on deposit" %>
    </div>

    <div class="">
      <button>
        Deposit Funds
      </button>
    </div>
  <% end %>
</div>

<table>
  <thead>
  <tr>
    <th>Employee</th>
    <th>Program</th>
    <th>Deposit Amount</th>
    <th>Expiration of Money</th>
    <th>Date Deposited</th>
    <th>Comment</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
    <%= render _person.funds %>
    <%= empty_table_rows(5, 3) if _person.funds.empty? %>
  </tbody>
</table>

<table>
  <thead>
  <tr>
    <th>Survey</th>
    <th colspan="3">Questions</th>
  </tr>
  </thead>
  <tbody>
  <% _person.surveys.order('created_at desc').each do |survey| %>
    <tr>
      <td>
        <%= survey.name %>
      </td>
      <td>
        Answered
        <%= survey.questions.answered.count %>
        of
        <%= pluralize survey.questions.count, "Question" %>
      </td>
      <td>
        <%= survey.created_at.stamp("Jun 1st 2016") %>
      </td>
      <td>
        <%= link_to [survey.user.organization, survey.master], target:"_self" do %>
          Manage survey
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<% if @historical_claims = Claim.unified_historical_claims(email=_person.email) %>
  <table>
    <thead>
    <tr>
      <th>Historical Claims, Program</th>
      <th>Category</th>
      <th>Expense Date</th>
      <th>Reimbursement Amount</th>
      <th>Summary</th>
    </tr>
    </thead>
    <tbody>
    <% @historical_claims.each do |historical_claim| %>
      <tr>
        <td><%= historical_claim["Program"] %></td>
        <td><%= historical_claim["Category"] %></td>
        <td><%= historical_claim["Expense Date"].stamp('10/10/2017') %></td>
        <td><%= number_to_currency historical_claim["Reimbursement Amount"] %></td>
        <td><%= historical_claim["Summary"]  %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
