<tr>
  <td>
    <%= benefit_category.name %>
  </td>
  <td>
    <%= benefit_category.focus_area %>
  </td>
  <td>
    <%= benefit_category.product_type %>
  </td>
  <td>
    <%= benefit_category.percent_to_reimburse %>
  </td>
  <td>
    <%= benefit_category.claims.count %>
  </td>
  <td>
    <%= link_to [:edit, _organization, benefit_category] do %>
      <i class=""></i> Edit
    <% end %>
    &nbsp;
    <%= link_to [_organization, benefit_category], method: :delete, data: { confirm: "Are you sure?" } do %>
      <i ></i> Remove
    <% end %>
  </td>
</tr>
