<table>
  <tbody>
  <% _organization.surveys.masters.order('created_at desc').each do |survey| %>
    <tr class="">
      <td class="">
        <%= link_to [_organization, survey], target:"_self" do %>
          <%= survey.name %>
        <% end %>
      </td>
      <td>
        <%= pluralize survey.questions.count, 'question' %>
      </td>
      <td>
        <%= pluralize survey.surveys.count, 'user survey' %>
      </td>
      <td>
        <%= survey.created_at.stamp('Jun 1st 2016') %>
      </td>
      <td>
        <%= link_to [_organization, survey] do %>
        View
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
