<div class="mx-auto" style="max-width: 20rem">
<form action="<%= question.url %>" method="post" id='question_<%= question.id %>'>
  <%
  min = question.options.split(",").first
  max = question.options.split(",").last
  %>

  <span class="lead">
    <input class="center" type="text" name="question[answer]" value="<%= question.answer %>" size="5" class=""
      <%= 'data-required="true"' if question.required -%>
      onkeyup="$(this).next('input').val(this.value)" data-numeric-range="true" min="<%= min %>" max="<%= max %>"
      style="">

    <input type='range' name='question[answer]'
      min='<%= min %>' max='<%= max %>'
      placeholder='<%= question.placeholder %>'
      value='<%= question.answer %>' data-numeric=true id='edit_question_<%= question.id %>' class="mt-3 mr-2"
      onchange="$(this).prev('input').val(this.value)"
      autocomplete="Off"><%= question.units %>

    <%= question.placeholder %>
  </span>
</form>
</div>
